.features--advertisement--container {
    background-image: url('./../images/features-coverimage-001.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7)
}